/* #Site Styles
================================================== */
html, body{
    height: 100%;
    margin: 0;
}
html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    font: 14px/21px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
}

a{
    color: #eee;
}

.container{
  background-color:rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: block;
  clear: both;
  width: 420px;
  height: 100%;
  position: relative;
}

.content{
  text-align: center;
  padding: 10%;
}

#footer{
    position: absolute;
    bottom: 0;
    padding: 1em;
    text-align: center;
}
/* #Page Styles
================================================== */
#play{
  width: 217px;
  margin: 0px auto;
  height: 218px;
  background: url(../images/btn1.png);
  display: block;
}

#play:hover{
  background: url(../images/btn2.png);
}

@media (max-width: 420px) {
  .container{
      max-width: 100%;
      min-width: 260px;
  }
}